<div class="signup-page">
  <form
    class="auth-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-header">
      Регистрация
    </div>
    <div class="form-body">
      <mat-form-field class="form-field">
        <mat-label>Логин</mat-label>
        <input
          matInput
          placeholder="Введите логин..."
          name="login"
          formControlName="login"
        >
        <mat-error>
          Пожалуйста, введите Ваш логин
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Введите пароль..."
          name="password"
          formControlName="password"
        >
        <mat-error>
          Пожалуйста, введите Ваш пароль
        </mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hidePasswordChange()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <span class="error-message" *ngIf="errorMessage">
        Ошибка регистрации: {{errorMessage}}
      </span>

      <p class="another-page-link">
        <span>Уже есть профиль? </span>
        <a [routerLink]="['/login']">Авторизируйтесь!</a>
      </p>

      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Зарегистрироваться
      </button>
    </div>
  </form>
</div>

