.command-panel {
  display: flex;
  width: calc(100vw - var(--sidebar-width));
  height: var(--command-panel-height);
  justify-content: space-between;
}

.section-label {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font: var(--header2-font);
}

.back-button {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 5px;
  cursor: pointer;
  background: url("src/assets/back-icon.svg") no-repeat;
  background-size: contain;
}

.buttons-group {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.command-panel-button {
  margin-left: 15px;
}
