<div class="command-panel">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="buttons-group">
    <button
      mat-stroked-button
      class="command-panel-button"
      (click)="onOpenCreateFolderPopup()"
    >
      Создать папку
    </button>
    <button
      mat-stroked-button
      class="command-panel-button"
      (click)="imageInput.click()"
    >
      Загрузить
    </button>

    <input
      type="file"
      accept=".png, .jpg, .jpeg"
      style="display: none"
      (change)="onFileInput($event)"
      #imageInput
    >
  </div>
</div>
