<ng-template #profileMenuPopover>
  <div
    class="profile-menu-item profile-page-link"
    (click)="onOpenProfileButtonClick()"
  >
    Профиль
  </div>
  <div
    class="profile-menu-item logout-button"
    (click)="onLogoutButtonClick()"
  >
    Выйти
  </div>
</ng-template>

<div class="command-panel">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="buttons-group">
    <button
      mat-stroked-button
      class="command-panel-button"
      (click)="onOpenCreateFolderPopup()"
    >
      Создать папку
    </button>
    <button
      mat-stroked-button
      class="command-panel-button"
      (click)="imageInput.click()"
    >
      Загрузить
    </button>
    <div
      class="profile-button"
      [ngbPopover]="profileMenuPopover"
      placement="bottom"
    ></div>

    <input
      type="file"
      accept=".png, .jpg, .jpeg"
      style="display: none"
      (change)="onFileInput($event)"
      #imageInput
    >
  </div>
</div>
