<div class="command-panel">
  <div class="section-label">
    <div
      *ngIf="prevFolder !== undefined"
      (click)="goBack()"
      class="back-button"
    >
    </div>
    {{ sectionTitle }}
  </div>

  <div class="buttons-group">
    <button
      mat-stroked-button
      class="command-panel-button"
      (click)="onOpenCreateFolderPopup()"
    >
      Создать папку
    </button>
    <button
      mat-stroked-button
      class="command-panel-button"
      (click)="imageInput.click()"
    >
      Загрузить
    </button>

    <input
      type="file"
      accept=".png, .jpg, .jpeg"
      style="display: none"
      (change)="onFileInput($event)"
      #imageInput
    >
  </div>
</div>
