<ng-template #contextMenuPopover>
  <div
    class="context-menu-item"
    (click)="onDownloadButtonClick()"
  >Загрузить</div>
  <div class="context-menu-item">Добавить в избранное</div>
  <div class="context-menu-item">Предпросмотр</div>
  <div class="context-menu-item">Переименовать</div>
  <div class="context-menu-item">Удалить</div>
</ng-template>

<div class="image-item">
  <div class="image-icon"></div>
  <div class="image-item-panel">
    <span class="image-name">{{ Name }}</span>
    <div
      class="popover-button"
      [ngbPopover]="contextMenuPopover"
      [autoClose]="'outside'"
      placement="right"
    ></div>
  </div>
</div>
