.image-item {
  position: relative;
  width: 100%;
}

.image-icon {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  background: url("src/assets/image-icon.svg") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.starred-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 35px;
  background: url("src/assets/star.svg") no-repeat;
  background-size: contain;
}

.image-item-panel {
  display: flex;
  align-items: center;
  padding: 3px 10px;
  border-top: 2px solid var(--border-color);
}

.image-name {
  font-weight: 500;
  font-family: var(--content-font-family);
}

.popover-button {
  height: 20px;
  width: 7px;
  background: red;
  margin-left: auto;
  cursor: pointer;
}

.context-menu-item {
  white-space: nowrap;
  font-family: var(--content-font-family);
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  cursor: pointer;
}

.context-menu-item:hover {
  background: var(--grey-hovered-color);
}
