<ng-template #contextMenuPopover>
  <div
    class="context-menu-item"
    (click)="onDownloadButtonClick()"
  >Загрузить</div>
  <div
    class="context-menu-item"
    (click)="onChangeStarred()"
  >
    {{!!Starred ? 'Удалить из избранного' : 'Добавить в избранное'}}
  </div>
  <div
    class="context-menu-item"
    (click)="onPreviewButtonClick()"
  >Предпросмотр</div>
  <div
    class="context-menu-item"
    (click)="onRenameButtonClick()"
  >Переименовать</div>
  <div
    class="context-menu-item"
    (click)="onDeleteImage()"
  >Удалить</div>
</ng-template>

<div
  class="image-item"
  (dblclick)="onPreviewButtonClick()"
>
  <div class="image-icon"></div>
  <div
    *ngIf="!!Starred"
    class="starred-icon"
  ></div>
  <div
    class="image-item-panel"
    (dblclick)="$event.preventDefault()"
  >
    <span class="image-name">{{ Name }}</span>
    <div
      class="popover-button"
      [ngbPopover]="contextMenuPopover"
      placement="right"
    ></div>
  </div>
</div>
