<div class="modal-header">
  <h4 class="modal-title">Создать папку</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="onClose()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="example-form"
    [formGroup]="form"
  >
    <mat-form-field class="form">
      <mat-label>Название папки</mat-label>
      <input
        matInput
        placeholder="Введите название папки..."
        name="folderName"
        formControlName="folderName"
      >
      <mat-error>
        Пожалуйста, введите название папки
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div class="modal-footer">
  <button
    class="btn btn-outline-dark"
    (click)="onClose()"
  >Закрыть</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onAccept()"
  >Создать</button>
</div>
