.content-area {
  display: flex;
  height: calc(100vh - var(--command-panel-height) - 30px);
  padding: 0 30px 30px 0;
}

.contents-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: auto;
  width: calc(100% - 2*2px);
  height: calc(100% - 2*2px);
  border: 2px solid var(--border-color);
}

.contents-row {
  display: flex;
  margin: 50px 50px 0;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

.content-item {
  flex: 0 0 200px;
  height: 220px;
  border: 2px solid var(--border-color);
  border-radius: 3px;
}
