.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
}

.logo {
  width: 100%;
  height: 70px;
  background: url("src/assets/cloud_logo.svg") no-repeat center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-size: cover;
}

.buttons-group {
  margin: 10px;
}

.sidebar-button {
  width: 100%;
  margin-bottom: 10px;
}
