<div class="modal-header">
  <h4 class="modal-title">Сменить пароль</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="onClose()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="example-form"
    [formGroup]="form"
  >
    <mat-form-field class="form-field">
      <mat-label>Текущий пароль</mat-label>
      <input
        matInput
        [type]="hideCurrentPassword ? 'password' : 'text'"
        placeholder="Введите текущий пароль..."
        name="currentPassword"
        formControlName="currentPassword"
      >
      <mat-error>
        Пожалуйста, введите текущий пароль
      </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="onChangeCurrentPasswordVisibility()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideCurrentPassword"
      >
        <mat-icon>
          {{hideCurrentPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Новый пароль</mat-label>
      <input
        matInput
        [type]="hideNewPassword ? 'password' : 'text'"
        placeholder="Введите новый пароль..."
        name="newPassword"
        formControlName="newPassword"
      >
      <mat-error>
        Пожалуйста, введите новый пароль
      </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="onChangeNewPasswordVisibility()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNewPassword"
      >
        <mat-icon>
          {{hideNewPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
    </mat-form-field>

    <span class="error-message" *ngIf="errorMessage.length">
        Ошибка: {{errorMessage}}
    </span>
  </form>
</div>
<div class="modal-footer">
  <button
    class="btn btn-outline-dark"
    (click)="onClose()"
  >Закрыть</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onAccept()"
  >Сменить</button>
</div>
